*{
    padding: 0;
}
.form{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 200px;
    height: 180;
    padding: 15px 15px;
    border-radius: 5px;
    background-color: pink;
    box-shadow: 1px +6px +25px #888888;
    position: fixed;
    z-index: ;
}
